<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="URLChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <URLChecker.Properties.Settings>
            <setting name="timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="countThread" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="domens" serializeAs="String">
                <value />
            </setting>
            <setting name="colorRobots" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="colorNoindex" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="podsvetka" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useReplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="podsvetkaWL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorWL" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="noObrabotka" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="saveAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ankorExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filtrBroken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectionColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="sizeFont" serializeAs="String">
                <value>8</value>
            </setting>
        </URLChecker.Properties.Settings>
    </userSettings>
</configuration>
